<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vuette</title>
  <style>
    .red {
      color: red;
    }
    .blue {
      color: blue;
    }
    .big {
      font-size: 1.5em;
    }
  </style>
</head>
<body>
  <div id="app">

    <ul>
      <li v-for="(item,index) in list">
        name: {{ item.name }} {{ index }}
      </li>
    </ul>

    <!-- <p v-if="obj.b < 3">vif</p> -->
    <!-- <img :src="imgSrc" alt="logo"> -->
    <!-- <span :class="red">我的天啊</span> -->
    <!-- <span :class="{big: obj.b < 3, blue: obj.b < 3}">我的地啊</span> -->
    <!-- <input type="text" v-model="obj.b" @keydown="handleKeydown"> -->

  </div>
  <script src="./main.js"></script>
</body>
</html>