<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vuette</title>
  <style>
    .red {
      color: red;
    }
    .blue {
      color: blue;
    }
    .big {
      font-size: 1.5em;
    }
  </style>
</head>
<body>
  <div id="app">
    <!-- <p>
      你好, {{  content  }}, {{ description }}
    </p>
    <p>
      {{ description }}, {{ content }}
    </p>

    <input type="text" v-model="obj.innerObj.a">

    <p>
      {{ obj.innerObj.a }}
    </p> -->

    <!-- <ul>
      <li v-for="(list) in nestList">
        <ul>
          <li v-for="item in list">
            name: {{ item.name }}
            age: {{ item.age }}
          </li>
        </ul>
      </li>
    </ul> -->

    <!-- <ul>
      <li v-for="(item,index) in list">
        name: {{ item.name }} {{ index }}
      </li>
    </ul> -->

    <!-- <img :src="imgSrc" alt="logo"> -->

    <span :class="red">我的天啊</span>
    <br>
    <span :class="{big: obj.b < 3, blue: obj.b < 3}">我的地啊</span>

  </div>
  <script src="./main.js"></script>
</body>
</html>